/.github export-ignore
/.gitignore export-ignore
/.phpunit.cache export-ignore
/build export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpunit.xml.dist export-ignore
/.releaserc.json export-ignore
/tests export-ignore
/vendor export-ignore
